
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color:#242833;
}
.container{
    font-family: Roboto;
 font-size: 1rem;
}
.row{
    display: grid;
    grid-template-columns: auto auto auto;
    margin:5rem;
    gap: 0.4rem;
}
.navbar  h1{

  font-size: 2rem;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration:none;
  color: white;
  height: 4rem;
  background-color:#242833;
 
}
.navbar li{
  display: inline-block;
  list-style: none;
  text-decoration:none;
}
.navbar ul li :visited { text-decoration: none; color:white ; }

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:1rem;
  text-align: center;
align-items :center; 
  gap:3rem;
  color: white; 
  background-color: #353743;
  height: 14rem;
}
.column div :hover{
  background-color: #353743;
}
.column img{
  object-fit:contain
}
svg{
  padding-left: 0.6rem;
  font-size: 1rem;
  color:white;
  display: inline-block;
  transform: translateX(20%);
  transition: 1s;
}
svg:hover{
  transform: translateX(50%);

}